.coinContainer {
    margin-top: 8vh;
}

.coin {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin-bottom: 1vh;
}

.flagImg {
  border: 1px solid var(--primary-color);
  margin-right: 1em;
}

.coin li{
  list-style-type: none;
}
